@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Maxsus ranglar */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;

  /* Maxsus shriftlar */
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;

  /* Box shadow */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
  --shadow-sm: 0 1px 3px rgba(0,0,0,0.12);

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

@custom-variant dark (&:where(.dark, .dark *));